body{
	font-family: 'Lato', sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
.heroSection{
	width: 100vw;
	height: 100vh;
	background: url("../images/hero.png") top right no-repeat;
	background-size: cover;
	position: relative;
}
.logoContainer{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	width: 800px;
	height: 400px;
	text-align: center;
}
.logo{
	background: url("../images/logo.svg") center center no-repeat;
	width: 70px;
	height: 72px;
	margin: auto;
	margin-bottom: 90px;
}
.title{
	font-size: 54px;
	letter-spacing: 0.160em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 50px;
}
.subTitle{
	font-size: 15px;
	letter-spacing: 0.006em;
	line-height: 29px;
	color: #ffffff;
	text-transform: uppercase;
}
.scroll{
	background: url("../images/scroll.svg")center center no-repeat;
	width: 24px;
	height: 37px;
	position: absolute;
	right: calc(50% - 12px);
	bottom: 35px;
}
.sectionAboutUs{
	position: relative;
	height: 630px;
	width: 100%;
	background-color: #ffffff;
}
.aboutUs__title{
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.160em;
	text-transform: uppercase;
	color: #3c3c3c;
	padding: 0 100px;
	background-color: #ffffff;
	position: absolute;
	top: -20px;
	left: calc(50% - 210px);
}
.aboutUs{
	width: 900px;
	height: 310px;
	border: 2px solid #3c3c3c;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	text-align: center;
}
.aboutUs__text{
	font-weight: 300;
	font-size: 16px;
	color: #3c3c3c;
	width: 560px;
	margin: auto;
	margin-top: 75px;
}
.aboutUs__text p{
	margin: 30px auto;
}
.aboutUs__text p:last-child{
	width: 450px;
}
.sectionServices{
	height: 490px;
	width: 100%;
	background: url("../images/servicesBack.jpg") center center no-repeat;
	position: relative;
}

.services{
	width: 910px;
	height: 320px;
	/*border: 2px solid #3c3c3c;*/
	background: url("../images/frame.svg") center center no-repeat;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	text-align: center;
}
.services__title{
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.160em;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 100px;
	position: absolute;
	top: -20px;
	left: calc(50% - 210px);

}
.services__text{
	font-weight: 300;
	font-size: 16px;
	color: #ffffff;
	width: 560px;
	margin: auto;
	margin-top: 75px;
	line-height: 26px;
	letter-spacing: 0.060em;
}
.services__text p{
	margin: 30px auto;
}
.sectionWeDo{
	height: 1400px;
	width: 100%;
	position: relative;

}
.weDo__container{
	width: 900px;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: 120px auto;
	border: 2px solid #000000;
	padding: 125px 170px 90px 170px;
	text-align: center;
}
.weDo__title{
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.160em;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #000000;
	padding: 0 100px;
	position: absolute;
	top: -20px;
	right: calc(50% - 239px);

}
.weDo__item--logo1{
	background: url("../images/logo_design.png") center center no-repeat;
	width: 80px;
	height: 83px;
}
.weDo__item--logo2{
	background: url("../images/logo_development.png") center center no-repeat;
	width: 79px;
	height: 76px;
}
.weDo__item--logo3{
	background: url("../images/logo_management.png") center center no-repeat;
	width: 79px;
	height: 91px;
}